<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="view/icon/icon.png">
    <link rel="stylesheet" href="view/style.css">
</head>

<body>
    <div class="total">
        <div class="display">
            <div class="display-menu">
                <img src="view/icon/14.png">
                <p>Standard</p>
            </div>
            <div class="display-input"> 
                <p id="display-text">0</p>
            </div>
        </div>

        <div class="memory">
            <div>MC</div>
            <div>MR</div>
            <div>M+</div>
            <div>M-</div>
            <div>MS</div>
            <div>M-</div>
        </div>

        <div class="keyboard" id=keyboard-buttons>
            <div class="color-gray"  value="%"><img src="view/icon/1.png"></div>
            <div class="color-gray"  value="CE">CE</div>
            <div class="color-gray"  value="Clear">C</div>
            <div class="color-gray"  value="Backspace"><img src="view/icon/4.png"></div>
            <div class="color-gray"  value="1/x"><img src="view/icon/5.png" style="width: 28px;"></div>
            <div class="color-gray"  value="X2"><img src="view/icon/6.png" style="width: 28px;"></div>
            <div class="color-gray"  value="S"><img src="view/icon/7.png"></div>
            <div class="color-gray"  value="/"><img src="view/icon/8.png"></div>
            <div class="color-white" value="7">7</div>
            <div class="color-white" value="8">8</div>
            <div class="color-white" value="9">9</div>
            <div class="color-gray"  value="*"><img src="view/icon/9.png"></div>
            <div class="color-white" value="4">4</div>
            <div class="color-white" value="5">5</div>
            <div class="color-white" value="6">6</div>
            <div class="color-gray"  value="-"><img src="view/icon/10.png"></div>
            <div class="color-white" value="1">1</div>
            <div class="color-white" value="2">2</div>
            <div class="color-white" value="3">3</div>
            <div class="color-gray"  value="+"><img src="view/icon/11.png"></div>
            <div class="color-white" value="+-"><img src="view/icon/12.png"></div>
            <div class="color-white" value="0">0</div>
            <div class="color-white" value=".">.</div>
            <div class="color-gray"  value="Enter"><img src="view/icon/13.png"></div>
        </div>
        <div class="history"></div>
        <script src="src/view.js" > </script>
        <script src="src/controller.js" > </script>
        <script src="src/app.js" > </script>
    </div>
</body>

</html>