<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="icon/icon.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="total"> 
        <div class="display">
            <div class="menu-display">
                <img src="icon/14.png" >
                <p>Standard</p>
            </div>
        </div>
            
        <div class="memory">
            <div>MC</div>
            <div>MR</div>
            <div>M+</div>
            <div>M-</div>
            <div>MS</div>
            <div>M-</div>
        </div> 

        <div class="keyboard">
            <div class="color-gray"><img src="icon/1.png"></div>
            <div class="color-gray">CE</div>
            <div class="color-gray">C</div>
            <div class="color-gray"><img src="icon/4.png"></div>
            <div class="color-gray"><img src="icon/5.png" style="width: 28px;"></div>
            <div class="color-gray"><img src="icon/6.png" style="width: 28px;"></div>
            <div class="color-gray"><img src="icon/7.png"></div>
            <div class="color-gray"><img src="icon/8.png"></div>
            <div class="color-white">7</div>
            <div class="color-white">8</div>
            <div class="color-white">9</div>
            <div class="color-gray"><img src="icon/9.png"></div>
            <div class="color-white">4</div>
            <div class="color-white">5</div>
            <div class="color-white">6</div>
            <div class="color-gray"><img src="icon/10.png"></div>
            <div class="color-white">1</div>
            <div class="color-white">2</div>
            <div class="color-white">3</div>
            <div class="color-gray"><img src="icon/11.png"></div>
            <div class="color-white"><img src="icon/12.png"></div>
            <div class="color-white">0</div>
            <div class="color-white">.</div>
            <div class="color-gray"><img src="icon/13.png"></div>   
        </div> 
        <div class="history"></div>
    </div>  
</body>
</html>