*{
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif; 
}

.total{
    display: inline-block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    min-width: 450px;
    background-color: #F0F0F0;
}

/*  Display css style  */
div.display{
    width: 100%;
    height: 25%;
}
.menu-display{
    display: flex;
    height: 30%;
    width: 50%;
}
.menu-display > img{
    width: 20px;
    height: 25px;
    margin-top: 10px;
    margin-left: 15px;
}
.menu-display > p{
    margin-left: 20px;
    padding-top: 10px;
    font-size: 18px;
    
}

/*  Memory css style */

div.memory{
    display: flex ;
    position: static;
    float: left ;
    width: 100%;
    height: 5%;
    text-align: center;
    align-items: center;
}

div.memory > div{
    display: block;
    font-size: 13px;
    font-weight: bold;
    width: 20%;
    margin: 1px;
    padding: 15px;
    justify-content: center ;  
}

/*  keyboard css style */

div.keyboard{
    display: flex;
    flex-flow: row wrap;
    position: static;
    float: left ;
    width: 100%;
    height: 70%;
}
div.keyboard > div{
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 25%;
    border: 1.5px solid #F0F0F0 ;
}
div.keyboard > div:hover{
    background-color: #D3D3D3;
}

.color-gray{
    background-color: #F3F3F3;
    font-size: 16px;  
}
.color-white{
    background-color: #FBFBFB ;
    font-size: 20px;
    font-weight: bold;
}
img{
    width: 15px;
}